<!-- <div *ngIf="dataLoaded==false" class="spinner-grow text-warning">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>saleId</th>
      <th>productId</th>
      <th>userId</th>
      <th>totalAmount</th>
      <th>paymentType</th>
      <th>description</th>
    </tr>
  </thead>
  <tr *ngFor="let sale of sales">
    <td>{{sales.saleId}}</td>
    <td>{{sales.productId}}</td>
    <td>{{sales.userId}}</td>
    <td>{{sales.totalAmount}}</td>
    <td>{{sales.paymentType}}</td>
    <td>{{sales.description</td>
  </tr>
</table> -->
